<footer id="footer">
    <p><a href="misc.php?do=show-desktop&redirect=$request_uri">Full Desktop Site</a></p>
    <p>Copyright &copy; 2003-2014 Escalate Media LP. <br>All Rights Reserved</p>
</footer>

<!-- navigation menus -->
<nav id="menu-left">
    <div class="my-account-content">
        <div class="avatar-box">
            <div class="avatar-img">
                <img src="mobile/assets/imgs/misc/no-avatar.jpg" alt="" />
            </div>
            <ul>
                <li class="username"><a href="">Ken Iovino</a></li>
                <li class="usertitle">Pro</li>
            </ul>
        </div>

        <div class="my-account-links">
            <ul>
                <li class="icon-messages">
                    <a href="./soon.php">
                        <span class="notifications">23</span>Private Messages
                    </a>
                </li>
                <li class="icon-threads">
                    <a href="">Subscribed Threads</a>
                </li>
                <li class="icon-newposts"><a href="search.php?$session[sessionurl]do=getnew">New Posts</a></li>

                <li class="menu-header">Your Profile</li>
                <li class="icon-pencil"><a href="./soon.php">Edit Your Details</a></li>
                <li class="icon-lock"><a href="./soon.php">Profile Privacy</a></li>
                <li class="icon-image"><a href="./soon.php">Edit Profile Picture</a></li>

                <li class="menu-header">Settings &amp; Options</li>
                <li class="icon-image"><a href="./soon.php">Edit Avatar</a></li>
                <li class="icon-signature"><a href="./soon.php">Edit Signature</a></li>
                <li class="icon-wrench"><a href="./soon.php">Edit Email & Password</a></li>
                <li class="icon-gear"><a href="./soon.php">Edit Options</a></li>
                <li class="icon-ignore"><a href="./soon.php">Edit Ignore List</a></li>
                <li class="icon-logout"><a href="login.php?$session[sessionurl]do=logout&amp;logouthash=$bbuserinfo[logouthash]">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- /navigation menus -->

<!-- right menu panel -->
<nav id="menu-right" class="mmm-current mmm-opened">

</nav>
<!-- /right menu panel -->

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- Twitter Bootstrap -->
<script src="./mobile/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- jQuery Plugin: jquery.rcrumbs -->
<script type="text/javascript" src="./mobile/assets/vendor/jquery.rcrumbs/dist/jquery.rcrumbs.min.js"></script>

<!-- jQuery Plugin: jquery.mmenu -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/hammer.js/1.0.5/jquery.hammer.min.js"></script>
<script type="text/javascript" src="./mobile/assets/vendor/jquery.mmenu/src/js/jquery.mmenu.min.all.js"></script>
<script src="./mobile/assets/js/main.js"></script>
