<!-- Bootstrap core CSS -->
<link href="./mobile/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Plugin: jquery.mmenu -->
<link type="text/css" rel="stylesheet" href="./mobile/assets/vendor/jquery.mmenu/src/css/jquery.mmenu.all.css" />

<!-- Main stylesheet -->
<link href="./mobile/assets/css/main.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="./mobile/assets/vendor/html5shiv/dist/html5shiv.min.js"></script>
<script src="./mobile/assets/vendor/respond/dest/respond.min.js"></script>
<![endif]-->

