// body
$body-bg-color:   #ffffff;
$body-font-color: #333333;
$body-font-family: 'Open Sans', sans-serif;
$body-link-color: #cb6600;

// main width
$container-width: 100%;

// logo
$logo-url-path: '../imgs/logos/wwt-logo.gif';
$logo-width: 142px;
$logo-height: 56px;

// header
$header-bg-color: #b7b097;

// navbar
$navbar-bg-color: #ffffff;
$navbar-shadow-color: #B9B9B9;
$navbar-font-color: $body-font-color;
$navbar-link-color: $body-link-color;
$navbar-divider-color: #b9b9b9;

// footer
$footer-bg-color: $header-bg-color;
$footer-font-color: #ffffff;

// search
$search-bg-color: #ffffff;
$search-font-color: #9f9f9f;

// content box container
$box-one-head-bg-color: #827757;
$box-one-head-font-color: #ffffff;
$box-one-body-bg-color: #e3e3e6;
$box-one-body-font-color: #333333;
$box-one-foot-bg-color: $header-bg-color;
$box-one-foot-font-color: #ffffff;

// buttons
$button-text-color: #ffffff;
$button-bg-color: #aa3824;
$button-box-shadow: #732517;

// forumhome
$mark-unread-bg-color: #aa3824;
$mark-read-bg-color: #b7b5b4;

// forum display
$mark-deleted-bg-color: #c81010;

// showthread
$post-footer-bg-color: $header-bg-color;
$post-bg-color: #f4f4f4;
$post-border-color: #c6c6c7;
$post-text-color: #333333;
$post-link-color: #428bca;

// stat color
$stats-text-color: #999;

