.rcrumbs {
  font-size: 14px;
  line-height: 18px;
  white-space: nowrap;
  padding: 5px 10px;
  margin: 0;
  background: $navbar-bg-color;
  -webkit-box-shadow: 0px 1px 1px $navbar-shadow-color;
  -moz-box-shadow: 0px 1px 1px $navbar-shadow-color;
  box-shadow: 0px 1px 1px $navbar-shadow-color;
  margin-bottom: 10px;
  color: $navbar-font-color;

  a:link, a:visited, a:hover {
    color: $navbar-link-color;
    text-decoration: none;
    &:hover {
      color: $navbar-link-color;
    }
  }

  > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    > li {
      overflow: hidden;
      display: none;
      &.show-rcrumbs {
        display: inline-block;
      }
      &.ellipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        text-shadow: none;
      }
      &.home-crumb {
        a:link:before, a:visited:before, a:hover:before {
          @include font-awesome("\f015", 18px, $navbar-link-color);
        }

      }
    }
  }

  .divider {
    color: $navbar-divider-color;
    padding: 0 5px;
  }
}