#forums-list {
  border-bottom: 1px solid #c6c6c7;
  margin-bottom: 15px; }
  #forums-list .box-container .box-body {
    background: #e3e3e6;
    color: #333333;
    padding: 0px;
    border-bottom: none; }
  #forums-list div.forum-bit {
    padding-left: 5px;
    border-bottom: 1px solid #ffffff; }
    #forums-list div.forum-bit div.forum-bit-wrap {
      background: #e3e3e6;
      padding: 10px;
      cursor: pointer; }
      #forums-list div.forum-bit div.forum-bit-wrap a:link, #forums-list div.forum-bit div.forum-bit-wrap a:visited, #forums-list div.forum-bit div.forum-bit-wrap :hover {
        text-decoration: none; }
      #forums-list div.forum-bit div.forum-bit-wrap div.forum-title {
        color: #084b82;
        font-weight: bold;
        font-size: 16px; }
      #forums-list div.forum-bit div.forum-bit-wrap div.forum-summary {
        color: #333333;
        font-size: 14px; }

.status-new {
  background: #499551; }

.status-old {
  background: #9fc1a5; }

#whos-online p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: center; }
#whos-online p.active-text {
  font-weight: bold;
  margin-bottom: 10px; }
#whos-online div.box-body {
  padding: 15px; }

#forums-status {
  font-size: 12px;
  margin: 0 auto;
  width: 320px; }
  #forums-status div.forum-status-new, #forums-status div.forum-status-old {
    width: auto;
    float: left;
    margin: 0 5px 15px 5px; }
    #forums-status div.forum-status-new div.status-new-border, #forums-status div.forum-status-old div.status-new-border {
      border-bottom: 4px solid #499551;
      width: 120px;
      margin: 0 auto;
      margin-top: 5px; }
    #forums-status div.forum-status-new div.status-old-border, #forums-status div.forum-status-old div.status-old-border {
      border-bottom: 4px solid #a6c7ac;
      width: 120px;
      margin: 0 auto;
      margin-top: 5px; }
