// Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

// Import Styles
@import url(./forumhome.css);
@import url(./menus.css);

// Globals
html {
  height: 100%;
  min-height: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  background: #ffffff;
  color: #353d46;
  font-family: 'Open Sans', sans-serif;
}

// removes default bootstrap padding
.container {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

// reusables
.box-container {
  .box-head {
    background: #354e6f;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
  }
  .box-body {
    background: #e3e3e6;
    color: #333333;
    padding: 5px;
    border-bottom:1px solid #c6c6c7;
  }
  .box-foot {
    background: #354e6f;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
  }
}

// Header Content
#header {
  background: #354e6f;
  height: 85px;
  padding-top: 10px;
  padding-bottom: 10px;

  div.head-left {
    float: left;
    position: relative;
    top: 15px;
    left: 10px;

    // left menu icon
    a:link, a:visited, a:hover {
      background: center center no-repeat transparent;
      background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );

      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      left: 10px;
    }
  }

  div.head-center {
    text-align: center;
  }

  div.head-right {
    float: right;
    position: relative;
    top: 15px;
    right: 10px;

    // right profile icon
    a:link, a:visited, a:hover {
      background: center center no-repeat transparent;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVNJREFUeNq01jFLAzEYxvH2UBCxiIiDUhzcdXCyIk5ufgUXLR37JdxcXBxcuwmOOtml0EKpo04iWIpIQREVEVFLjf9AhoC9e3O5uxd+lMLdPU1yedO8UiqXdQWO122ghi4+8IwGqiiId+uRCHbxqsLrFHNRz5ACSnhTch1EPScQpnIH0w7TWcGiz5rouS45rtkMVnxCJrAQ4yUq+oT8YhAjZOAT8oWHGCE9nxC9H64cA15w4xOiW0HbfErVNhvUa8c3cecQcoZv3xA9z+fCNbe4SNq7jvEUMaUnuE/au7SjkHbSR1G637ULh73Kn+gn7cIBttELGckQh9Jo8iMOrSksYx2b2MKk8FuvUUcHl/9GbiWuooYu3pVf/eARLZQxbp8na2YR0659e+HLmM/geN+z98lSRv8hZu2QQkYh+kzKjZkvHdPahymH6DNp5Cucev0JMAAkKj0NEoYBJwAAAABJRU5ErkJggg==);

      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      right: 10px;
    }
  }

}

// Footer Content
#footer {
  background: #354e6f;
  color: #ffffff;
  padding:15px;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  font-size: 11px;

  a:link, a:visited, a:hover {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
  }
}