@import "vbulletin"; // the main style to use
@import "mixins";
@import "forumhome";
@import "menus";

// Globals
html {
  height: 100%;
  min-height: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  background: $body-bg-color;
  color: $body-font-color;
  font-family: $body-font-family;
}

// removes default bootstrap padding
.container {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

// reusables
.box-container {
  .box-head {
    background: $box-one-head-bg-color;
    color: $box-one-head-font-color;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
  }
  .box-body {
    background: $box-one-body-bg-color;
    color: $box-one-body-font-color;
    padding: 5px;
    border-bottom:1px solid #c6c6c7;
  }
  .box-foot {
    background: $box-one-foot-bg-color;
    color: $box-one-foot-font-color;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
  }
}

// Header Content
#header {
  background: $header-bg-color;
  height: 85px;
  padding-top: 10px;
  padding-bottom: 10px;

  // left menu icon
  div.head-left {
    float: left;
    position: relative;
    top: 20px;
    left: 20px;

    a:link, a:visited, a:hover {
      text-decoration: none;
    }

    a:link:before, a:visited:before, a:hover:before {
      @include font-awesome("\f007", 28px, #ffffff);
    }

    .notifications {
      @include notification-jewel(10px);
      position: relative;
      top: -15px;
      right: 10px;
    }
  }

  // site logo
  div.head-center {
    text-align: center;
    img {
      width: 123px;
    }
  }

  div.head-right {
    float: right;
    position: relative;
    top: 20px;
    right: 20px;

    a:link, a:visited, a:hover {
      text-decoration: none;
    }

    a:link:before, a:visited:before, a:hover:before {
      @include font-awesome("\f0c9", 28px, #ffffff);
    }
  }

}

// Footer Content
#footer {
  background: $footer-bg-color;
  color: $footer-font-color;
  padding: 15px;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  font-size: 11px;

  a:link, a:visited, a:hover {
    font-size: 14px;
    font-weight: bold;
    color: $footer-font-color;
  }
}

// Search Box
#search {
  :before {
    @include font-awesome("\f002", 20px, #9f9f9f);
    position: absolute;
    padding-top: 5px;
    padding-left: 10px;
  }

  input.search-box {
    background: $search-bg-color;
    color: $search-font-color;
    border: none;
    width: 100%;
    height: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
  }

  input.search-box::-webkit-input-placeholder {
    color: $search-font-color;
    font-size: 15px;
    font-weight: normal;
  }

  input.search-box:-moz-placeholder { /* Firefox 18- */
    color: $search-font-color;
  }

  input.search-box::-moz-placeholder {  /* Firefox 19+ */
    color: $search-font-color;
  }

  input.search-box:-ms-input-placeholder {
    color: $search-font-color;
  }
}