//
// vBulletin 3 Mobile Site
//

// site style
@import "sites/contractortalk";


@import "mixins";
@import "fonts";

// Globals
html {
  height: 100%;
  min-height: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  background: $body-bg-color;
  color: $body-font-color;
  font-family: $body-font-family;

  a:link, a:visited, a:hover {
    color: $body-link-color;
    text-decoration: none;
  }
}

// removes default bootstrap padding & sets main width
.container {
  padding-left: 0px;
  padding-right: 0px;
  width: $container-width;
}

// import stylesheets
@import "reusables";
@import "headfoot";
@import "breadcrumbs";
@import "forumhome";
@import "forumdisplay";
@import "showthread";
@import "menus";
@import "private";
@import "reply";
@import "login";
