.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-noresults):after {
  border-bottom-width: 0px;
  border-bottom-style: none; }

.mm-list > li > a, .mm-list > li > span {
  padding: 0; }

#menu-left {
  background: #333333;
  color: #ffffff; }
  #menu-left div {
    margin: 0;
    padding: 0; }
  #menu-left ul, #menu-left li {
    margin: 0;
    padding: 0; }
  #menu-left div.avatar-box {
    margin-top: 5px;
    margin-left: 5px; }
    #menu-left div.avatar-box div.avatar-img img {
      float: left;
      margin-right: 10px; }
