<div class="thread-bit thread-announcement">
<div class="thread-bit-wrap">
    <a href="announcement.php?$session[sessionurl]f=$foruminfo[forumid]$announcementidlink" class="thread-link">
        <div class="info">
            <div class="thread-title">
                <span class="tag tag-announcement"></span> <strong>$announcement[title]</strong>
            </div>
            <div class="thread-summary">
                <div class="thread-author">Posted by $announcement[username] on $announcement[postdate]</div>
                <div class="thread-stats">Views: $announcement[views]</div>
            </div>
        </div>
    </a>
</div>
</div>




